header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 69, 69);
    padding-right: 2%;
    color: black;
    margin-right: 0;
    line-height: 2.5;
  }
  
  h1 {
      background-color:rgb(74, 153, 163);
      margin-right: 100px;
      line-height: 2.0;
      font-size: larger;
      text-align: right;
      padding-left: 200px;
      font-size: 175%;
      padding-right: 20px;
    }

    h2 {
      font-size: 150%;
    }


  h3{
  font-size: 125%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  
  }
  
  
  .headernav a {
      color: white;
      font-size: 20px;
      margin: 20px;
      text-decoration: none;
  
  }

  .footernav a {
    color: black;
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    
  }
  main {
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container{
    display:flex
    
  }
  
  aside {
    /* flex: 1; */
    background-color: lightgray;
    padding: 20px;
    border-left: solid black;
    text-align: right;
    width: 100px;
  }
  
  .Main-Section {
    /* flex: 1; */
    background-color: white;
    padding: 20px;
    display: flex;
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  /* .leadproject {
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 1px; 
   
}*/
/* 
  .main-project img {
    width: 1000px;
    height: 300px;
    margin: 0
    
  } */
.smallproject {
  width: 100%;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  
}

/* .smallproject img{
  width: 100%;
  height: 200px;
  } */

  .smallbox {
    width: 50%;
    position: relative;
  }
  
  #project0{    
    background-image: url("../images/service-pnp-pga-12000-12042_150px.jpg");
    min-height: 300px;
  }
  
  #project1{
    background-image: url("../images/boatprint.jpg");
    min-height: 300px;

  }
  #project2{
  background-image: url("../images/dice.jpg");
  min-height: 300px;
}
  #project3{
    background-image: url("../images/service-pnp-cph-3b40000-3b48000-3b48900-3b48901_150px.jpg");
    min-height: 300px;
  }

  #project4{
    background-image: url("../images/service-pnp-cph-3b40000-3b49000-3b49000-3b49068r.jpg");
    min-height: 300px;
  }

  .Main-Section p {
    font-size: 85%;
  }
  
  .main.project {  
     /* width: 100%;
    padding: 0;
    background: #13293d;
    color: #fff;
    position: relative; */
    width: 100%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;

  }
  .main-project img {
    width: 1000px;
    height: 300px;
    margin: 0
  }

  .project-tag{
    /* position: relative; */
    position: absolute;
    top: 200px;
    /* top: 75%; */
    /* left: 100px; */
    background-color: darkgray;
    width: 15%;
    padding: 12px;
    text-align: right;
  }

  .project-tag-small {
    position: relative;
    top: 200px;
    background-color: darkgray;
    width: 25%;
    padding: 12px;
    text-align: right;
  }

  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  }
  